NODE_ENV=production
APP_PORT=5001
FRONTEND_URL=https://votre-domaine.com

DB_NAME=stoon_db
DB_USER=root
DB_PASSWORD=change_this_mysql_password

JWT_SECRET=change_this_long_random_secret_for_stoon
JWT_EXPIRES_IN=7d
UPLOAD_MAX_SIZE_MB=8
PYTHON_BIN=python3
STOON_CHATBOT_KNOWLEDGE=/app/data/connaissances.json
STOON_CHATBOT_HISTORY=/app/data/historique.txt
